//----------------------------------------
//  Core
//----------------------------------------

html,
body {
  height: 100%;
  margin: 0;
  //background-color: #2F343F;
}

*,
*:before,
*:after {
  font-family: $mat-font-family;
  box-sizing: border-box;
}
