//----------------------------------------
//  Break points
//----------------------------------------

$bp-handset-sm: 'handsetsm';
$bp-handset-md: 'handsetmd';
$bp-handset-lg: 'handsetlg';
$bp-desktop-sm: 'desktopsm';
$bp-desktop-md: 'desktopmd';
$bp-desktop-lg: 'desktoplg';
