//----------------------------------------
//  Colors
//----------------------------------------

$wo-background-color-400: #343640;
$wo-background-color: #2F343F;

$wo-accent-200-color: #41434C;
$wo-accent-300-color: #36373E;
$wo-accent-400-color: #383F51;
$wo-accent-500-color: #3A4765;

$wo-white-color: #B9BEC8;

@import '~material-design-colors/colors.scss';
