//----------------------------------------
//  Mixins
//----------------------------------------

@mixin material-icon ($icon, $size: 24px) {
  width: $size;
  height: $size;
  line-height: 1;
  content: $icon;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $size;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin breakpoint ($name) {
  @if $name == handsetsm {
    @media all and (min-width: 0) { @content; }
  }
  @else if $name == handsetmd {
    @media all and (min-width: 361px) { @content; }
  }
  @else if $name == handsetlg {
    @media all and (min-width: 400px) { @content; }
  }
  @else if $name == desktopsm {
    @media all and (min-width: 481px) { @content; }
  }
  @else if $name == desktopmd {
    @media all and (min-width: 841px) { @content; }
  }
  @else if $name == desktoplg {
    @media all and (min-width: 1281px) { @content; }
  }
}

