<h1 md-dialog-title>{{ dateString }} - Imputer</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
  <div md-dialog-content class="dialog-content">
    <md-radio-group formControlName="workType">
      <md-radio-button class="work-type-rb" *ngFor="let workType of workTypes" [value]="workType">
        {{ workType.name }}
      </md-radio-button>
    </md-radio-group>

    <div class="project-container">
      <div class="project-selector">
        <md-select class="project-select" placeholder="Projets" formControlName="project">
          <md-option *ngFor="let project of projects" [value]="project">
            {{ project.code }} - {{ project.client }} - {{ project.name }}
          </md-option>
        </md-select>
      </div>

      <div class="project-separator">
        <span></span>
        <p>OU</p>
        <span></span>
      </div>

      <div class="project-creator" formGroupName="addProject">
        <md-input-container class="full-width">
          <input md-input placeholder="ID de projet" formControlName="id" />
        </md-input-container>

        <md-input-container class="full-width">
          <input md-input placeholder="Client" formControlName="client" />
        </md-input-container>

        <md-input-container class="full-width">
          <input md-input placeholder="Projet" formControlName="project" />
        </md-input-container>
      </div>
    </div>

    <md-radio-group formControlName="dayTime">
      <md-radio-button class="work-type-rb" value="am">Matin</md-radio-button>
      <md-radio-button class="work-type-rb" value="pm">Après-midi</md-radio-button>
    </md-radio-group>

    <!--<div class="day-time-container">-->
      <!--<md-checkbox formControlName="am">Matin</md-checkbox>-->
      <!--<md-checkbox formControlName="pm">Après-midi</md-checkbox>-->
    <!--</div>-->

    <md-input-container class="full-width">
      <textarea md-input placeholder="Commentaire" formControlName="comment"></textarea>
    </md-input-container>
  </div>

  <div class="dialog-actions" md-dialog-actions>
    <button md-button (click)="dialogRef.close()">Annuler</button>
    &nbsp;&nbsp;
    <button md-raised-button color="primary" type="submit">Ajouter</button>
  </div>
</form>
