//----------------------------------------
//  Add Work Dialog
//----------------------------------------

@import '../../../../css/abstract/colors';

//----------------------------------------

.dialog-content {
  padding: 16px 24px;

  & .work-type-rb {
    margin: 0 10px;
  }

  & .project-container {
    display: flex;
    padding: 30px 0;

    & > .project-selector {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 24px 0;

      & > .project-select {
        width: 100%;
      }
    }

    & > .project-separator {
      display: flex;
      flex-direction: column;
      padding: 0 24px;
      align-items: center;

      & > span {
        flex: 1;
        width: 1px;
        background-color: $grey-500-color;
      }

      & > p {
        margin: 8px 0;
        color: $grey-500-color;
      }
    }

    & > .project-creator {
      flex: 1;
      padding: 24px 0;

      & .input-full-width {
        width: 100%;
      }
    }
  }
}

.dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
