//----------------------------------------
//  Divider
//----------------------------------------

.divider {
  width: 100%;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  margin: 4px 0;
  background-color: $wo-white-color;
}
