//----------------------------------------
//  Form
//----------------------------------------

$input-color: #B9BEC8;

//----------------------------------------

form.dark-bg {

  input {
    color: $input-color;
  }

  .mat-input-placeholder {
    color: $input-color;

    &.mat-focused {
      color: map-get($theme-app-primary, 500);
    }
  }

  .mat-input-underline {
    border-color: $input-color;
  }

}

.input-full-width {
  width: 100%;
}

.wo-form-alert-error { color: #983D3D; }

.wo-form-alert {
  margin: 0 0 12px;
  font-size: 12px;

  & > p {
    margin: 0 0 5px 0;

    &:last-child {
      margin: 0;
    }
  }

  &.wo-form-alert-error { color: #983D3D; }
}
