//----------------------------------------
//  Tabs
//----------------------------------------

.md-tab-body-wrapper {
  padding: 15px 0;
}

md-tab-body.md-tab-body-active {
  overflow: hidden !important;
}

//  Add imputation dialog
//----------------------------------------

.add-imputation-dialog-tabs .md-tab-body-wrapper {
  padding: 24px;
}
