//----------------------------------------
//  Work Calendar
//----------------------------------------

$toolbar-title-color: #525257;
$today-color: #4186F3;
$today-background-color: #EEF4FD;
$border-color: #EEEEEE;
$day-color: #8B8B8B;
$more-color: #4A4A4A;

//----------------------------------------

.fc {
  font-family: $md-font-family !important;
}

// Header
.fc-toolbar.fc-header-toolbar {
  margin: 0;
  height: 150px;
  padding: 20px 20px 0;
  background-image: url('assets/calendar/december.jpg');
  background-size: cover;
  background-position: 50% 44%;
  background-repeat: no-repeat;

  & > .fc-left > h2 {
    font-size: 22px;
    color: $toolbar-title-color;
    text-transform: capitalize;
  }
}

// Calendar head
.fc-head-container.fc-widget-header th {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border: none;
  text-align: left;
  color: #757575;
  text-transform: capitalize;
}

// Day grid
.fc-day-grid {

  & .fc-day-top {
    padding: 9px 0 0 7px;
  }

  & .fc-day-grid-event {
    margin: 4px 7px 0;
    padding: 2px 5px;
    border-radius: 2px;
  }
}

.fc-day-top.fc-today {
  color: $today-color;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  color: $day-color;
  float: none;
}

.fc-event-container {
  padding: 5px;
}

// Border
.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: $border-color;
}

//  More
//----------------------------------------

.fc-more-cell {
  padding-top: 5px !important;
}

a.fc-more {
  margin: 0 7px;
  color: $more-color;
}
