<form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="dark-bg" novalidate>
  <md-input-container>
    <input md-input placeholder="ID de projet" formControlName="id" />
  </md-input-container>

  <md-input-container>
    <input md-input placeholder="Client" formControlName="client" />
  </md-input-container>

  <md-input-container>
    <input md-input placeholder="Projet" formControlName="project" />
  </md-input-container>

  <div class="buttons-group">
    <button md-raised-button color="primary" type="submit">Créer</button>
  </div>
</form>

<div class="separator"></div>
