//----------------------------------------
//  Add imputation
//----------------------------------------

.dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

md-tab {
  padding: 0 24px;
}
