//----------------------------------------
//  Settings
//----------------------------------------

.settings-form {
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  & > .buttons-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
}

.settings-separator {
  height: 1px;
  margin: 40px 0;
  background-color: $wo-white-color;
}

.settings-table {

  & .icon-remove {
    transition: color .25s;

    &:hover {
      color: $red-500-color;
    }
  }

}
