//----------------------------------------
//  Add project
//----------------------------------------

@import '../../../../css/abstract/break-points';
@import '../../../../css/abstract/mixins';

//----------------------------------------

small {
  margin-top: 5px;
}

.day-time-container {
  margin-top: 25px;

  & > md-checkbox {
    margin-right: 8px;

    &:last-of-type {
      margin: 0;
    }
  }
}

.comment-container {
  margin-top: 25px;

  & textarea {
    height: 100px;
  }

}

@include breakpoint($bp-desktop-md) {

  .mat-select {
    min-width: 350px;
  }

}
