//----------------------------------------
//  Time Sheet
//----------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import '../../css/abstract/colors';

$menu-background-color: #36373E;
$menu-item-background-color: #3A4765;
$menu-item-hover-background-color: #383F51;
$content-background-color: #2A2B31;

//----------------------------------------

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

wo-header /deep/ nav {

  & wo-header-content[position="left"] {
    font-size: 20px;
    color: $white-color;
  }

  & wo-header-content[position="center"] {

    & .mat-select {
      margin: -5px 16px 0 0;
      padding-top: 0;
    }

    & .mat-form-field {
      width: 100px;
    }

  }

  & wo-header-content[position="right"] .btn-menu {
    color: $white-color;
  }

}

.time-sheet {
  flex: 1;
  padding: 24px;
  background-color: $content-background-color;

  & .title {
    color: $wo-white-color;
    margin: 20px 0;
    padding: 0 0 6px;
    font-weight: 400;
    border-bottom: 1px solid $wo-primary-700;

    &.first-title {
      margin-top: 0;
    }

  }

  & > .nothing-to-show {
    padding: 24px 0;
    text-align: center;
    color: $wo-white-color;
    border: 2px dashed $wo-white-color;
  }

  & > .row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 16px;
    border: 1px solid white;

    & .name {
      color: $wo-white-color;
      min-width: 200px;

      & > .client {
        margin: 4px 0;
        font-size: 10px;
      }

      & > .code-name {
        margin: 4px 0;
      }

    }

    & .imputations {
      flex: 1;
      display: flex;
      flex-direction: row;
      padding: 16px 0 16px 16px;

      & .day {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $wo-white-color;
        margin-right: 2px;

        & > div {
          margin-bottom: 2px;
        }

        & .imputation {
          width: 20px;
          height: 20px;
          border: 1px solid $wo-white-color;

          &.selected {
            background-color: $wo-primary-700;
          }

        }

        &.separator {
          margin-right: 14px;
        }

      }

    }

    & .count {
      font-size: 26px;
      font-weight: 700;
      font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
      color: $wo-primary-700;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}
