<wo-header>
  <wo-header-content position="left">Feuille de temps</wo-header-content>

  <wo-header-content position="center">
    <form [formGroup]="form" class="dark-bg" novalidate>
      <md-select
        formControlName="month"
        placeholder="Mois"
        floatPlaceholder="never"
        (change)="onMonthSelected()"
      >
        <md-option [value]="month" *ngFor="let month of months">{{ month }}</md-option>
      </md-select>

      <md-form-field floatPlaceholder="never">
        <input type="number" mdInput formControlName="year" placeholder="Année" />
      </md-form-field>
    </form>
  </wo-header-content>

  <wo-header-content position="right">
    <button class="btn-menu" md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>menu</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item [routerLink]="[ '/' ]">
        <md-icon>today</md-icon>
        <span>Calendrier</span>
      </button>
      <button md-menu-item [routerLink]="[ '/settings/projects' ]">
        <md-icon>settings</md-icon>
        <span>Paramètres</span>
      </button>
      <div class="divider"></div>
      <button md-menu-item (click)="onLogout()">
        <md-icon>exit_to_app</md-icon>
        <span>Se déconnecter</span>
      </button>
    </md-menu>
  </wo-header-content>
</wo-header>

<div class="time-sheet-wrapper">
  <div class="loading" *ngIf="loading">
    <md-progress-spinner mode="indeterminate"></md-progress-spinner>
  </div>

  <div class="time-sheet" *ngIf="!loading">
    <h3 class="title first-title">Projets</h3>

    <div class="row" *ngFor="let project of projects">
      <div class="name">
        <p class="client">{{ project.client }}</p>
        <p class="code-name">{{ project.code }} {{ project.name }}</p>
      </div>

      <div class="imputations">
        <div class="day" *ngFor="let day of daysInMonth" [class.separator]="day.dayOfWeek === 6">
          <div class="number">{{ day.dayNumber }}</div>
          <div class="imputation imputation-am" [class.selected]="project.am.includes(day.dayNumber)"></div>
          <div class="imputation imputation-pm" [class.selected]="project.pm.includes(day.dayNumber)"></div>
        </div>
      </div>

      <div class="count">
        {{ (project.am.length + project.pm.length) / 2 }}
        <sub>j</sub>
      </div>
    </div>

    <div class="nothing-to-show" *ngIf="projects.length === 0">Aucunes imputations</div>

    <h3 class="title" *ngIf="activities.length > 0">Autres activités</h3>

    <div class="row" *ngFor="let activity of activities">
      <div class="name">{{ activity.name }}</div>

      <div class="imputations">
        <div class="day" *ngFor="let day of daysInMonth" [class.separator]="day.dayOfWeek === 6">
          <div class="number">{{ day.dayNumber }}</div>
          <div class="imputation imputation-am" [class.selected]="activity.am.includes(day.dayNumber)"></div>
          <div class="imputation imputation-pm" [class.selected]="activity.pm.includes(day.dayNumber)"></div>
        </div>
      </div>

      <div class="count">
        {{ (activity.am.length + activity.pm.length) / 2 }}
        <sub>j</sub>
      </div>
    </div>
  </div>
</div>
